
<app-navbar (childData)="getChildData($event)" ></app-navbar>

<!-- this is a main movies show -->
<div class="row row-cols-3 mx-1 ">
<div style="display: grid; grid-template-columns: auto auto auto auto; width:290px;" class="  my-2 mx-2  " *ngFor="let data of apiData|search:searchValue  ">
    <div class="card" style="width:18rem;">
        <img routerLink="/casts" src={{data.poster_path}} class="card-img-top" alt="..." (click)="casts(data)">
        <div class="card-body">
            <p ><b>{{data.original_title}}</b> </p>
            <span> release date -{{data.release_date}} ,({{data.original_language}}) </span>
          <p class="card-text"> </p>
        </div>
      </div>
   
</div>
 
</div >